
h1 {
    color: blue;
    background-color: aqua;
    border: 1px solid black;
  }
  
  p {
    color:black;
    background-color: cornsilk;
    font-size: 25px;
	opacity: 0;
	transition: opacity 1s ease-in-out;
}